<form>


<form>
  <fieldset>
    <legend>Поиск пути</legend>
    <div>
      <p>Алгоритм:</p>
      <p><input  name="radiobuttonWave" type="radio" value="wavesearch"  [(ngModel)]="this.url" (click)="getWays()" >Волновой</p>
      <p><input name="radiobuttonHand" type="radio" value="handsearch"  [(ngModel)]="this.url" (click)="getWays()">"Правой руки"</p>
      <p>Скорость прохождения</p>
      <form onsubmit="return false" oninput="level.value = flevel.valueAsNumber">
      <input name="flevel" id="flying" type="range" min="1" max="4" step="1" value="1">
        <output for="flying" name="level">1</output>
      </form>
      <p><button (click)="getPath()">Принять
      </button></p>
    </div>
  </fieldset>
</form>
<form class="form1">
  <div *ngFor="let row of labyrinth.pattern">
    <span *ngFor="let x of row" [ngSwitch]="x" >
                  <ng-template ngSwitchCase="0"><img src="../../assets/gray.jpg" width="23" height="23" /></ng-template>
                  <ng-template ngSwitchCase="1"><img src="../../assets/green.jpg" width="23" height="23" /></ng-template>
                  <ng-template ngSwitchCase="3"><img src="../../assets/red.jpg" width="23" height="23" /></ng-template>
                  <ng-template ngSwitchCase="4"><img src="../../assets/black.jpg" width="23" height="23" /></ng-template>
                  <ng-template ngSwitchCase="5"><img src="../../assets/pink.jpg" width="23" height="23" /></ng-template>
                  <ng-template ngSwitchDefault></ng-template>
    </span>
  </div>
</form>
</form>


