<form>
  <fieldset>
    <legend>Создание лабиринта</legend>
    <div>
      <p><input #radioManual (click)="this.labyrinthService.isManualEdit=true;" checked name="radiobutton" type="radio"
                [checked]="this.labyrinthService.isManualEdit" value="hand" [(ngModel)]="url">Ручное</p>

      <div [hidden]="!radioManual.checked">
        <form style="border-style: dot-dash; margin: 0px; width: auto">
          <fieldset style="margin: 10px">
            <label>Компоненты</label>
            <p><input name="radiobutton" type="radio" value=1 checked
                      [(ngModel)]="this.labyrinthService.currentComponent">Стена</p>
            <p><input name="radiobutton" type="radio" value=0 [(ngModel)]="this.labyrinthService.currentComponent">Проход
            </p>
            <p><input name="radiobutton" type="radio" value=3 [(ngModel)]="this.labyrinthService.currentComponent">Вход
            </p>
            <p><input name="radiobutton" type="radio" value=4 [(ngModel)]="this.labyrinthService.currentComponent">Выход
            </p>
          </fieldset>
        </form>

      </div>
      <p>Автоматическое</p>
      <p><input name="radiobutton" type="radio" value="molegenerate"  checked [(ngModel)]="url" [checked]="!this.labyrinthService.isManualEdit">Алгоритм Крота</p>
      <p><input name="radiobutton" type="radio" value="backgenerate"  [(ngModel)]="url" [checked]="!this.labyrinthService.isManualEdit">Алгоритм Бектрекинг</p>
      <p>
        <button class="btn btn-outline-primary" (click)="createLabyrinth()">Принять</button>
      </p>

    </div>
  </fieldset>
</form>




