<form>
  <fieldset>
    <legend>Создание лабиринта</legend>
    <div>
      <p><input #radioManual checked name="radiobutton" type="radio"
                value="hand"

                [(ngModel)]="this.labyrinthService.urlGenerateLabyrinth">Ручное</p>

      <div [hidden]="!radioManual.checked">
        <form style="border-style: dot-dash; margin: 0px; width: auto">
          <fieldset style="margin: 10px">
            <label>Компоненты</label>
            <p><input id="Wall" name="radiobutton" type="radio"  value=1
                      [(ngModel)]="this.labyrinthService.currentComponent">Стена</p>
            <p><input #Pass name="radiobutton" type="radio" value=0
                      [(ngModel)]="this.labyrinthService.currentComponent">Проход
            </p>
          </fieldset>
        </form>

      </div>

      <p>Автоматическое</p>
      <p><input name="radiobutton" type="radio" value="molegenerate" checked
                [(ngModel)]="this.labyrinthService.urlGenerateLabyrinth">Алгоритм Крота</p>
      <p><input name="radiobutton" type="radio" value="backgenerate"
                [(ngModel)]="this.labyrinthService.urlGenerateLabyrinth">Алгоритм Бектрекинг</p>
      <p>
        <button class="btn btn-outline-primary" (click)="createLabyrinth()">Принять</button>
      </p>
    </div>
  </fieldset>
</form>




