<head>
  <title>be1.ru</title>
</head>
<body>
<p><a href="http://localhost:63342/lab/src/assets/file/help.html?_ijt=k8m5p9c4u0l0q4pbhhv7gjcm35">Справка</a></p>
<div style="left: 40px; top:20px;position: relative">
  <p><button class="btn btn-outline-primary" (click)="init()">Новый лабиринт</button></p>
  <p><button class="btn btn-outline-primary" (click)="loadLab()">Загрузить Лабиринт</button></p>
  <p><button class="btn btn-outline-primary" (click)="saveLab()" [hidden]="!this.labyrinthService.saveready">Сохранить лабиринт</button></p>

</div>


<div style="left: 22px;top:20px;position: relative">


  <app-labyrinth></app-labyrinth>
  <router-outlet></router-outlet>

</div>
</body>
