
  <head>
    <title>be1.ru</title>
  </head>
  <body>
  <div style="left: 1%;top:20px; position: relative;">
    <p><button class="btn btn-outline-primary" (click)="init()">Новый лабиринт</button></p>

  <p><input class="btn btn-outline-primary" name="loadLab" type="button" value="Загрузить лабиринт" (click)="loadLab()"/></p>

  <p><input class="btn btn-outline-primary" name="saveLab" type="button" value="Сохранить лабиринт" (click)="saveLab()" [hidden]="!this.labyrinthService.saveready"/></p>
    <app-labyrinth></app-labyrinth>
  <router-outlet></router-outlet>

</div>
  </body>
