
<fieldset>
  <legend>Загрузка</legend>
  <div class="input-group">
    <p><label>Лабиринты</label></p>
    <div class="input-group">
      <select class="custom-select" [(ngModel)]="this.name"(click)="loadLabirynth()">
        <ng-container *ngFor="let el of this.labyrinthService.labFilse">
          <option [ngValue]=el>{{el}}</option>
        </ng-container>
      </select>
    </div>
  </div>
  <p><button class="btn btn-outline-primary" (click)="next()" style="position: relative;
top: 20px">Загрузить</button></p>

</fieldset>
