<form>
  <fieldset>
    <legend>Параметры</legend>

    <p>
      <label>Длина</label>
      <input type="number" class="form-control" name="height" min="7" max="31" step="2"
             [(ngModel)]="this.labyrinthService.labyrinth.height"/></p>
    <p><label>Ширина</label><input type="number" class="form-control" name="width" min="7" max="31" step="2"
                                   [(ngModel)]="this.labyrinthService.labyrinth.width"/></p>
    <p><label>Тема</label>
      <select class="form-control custom-select" name="theme" [(ngModel)]="this.labyrinthService.labyrinth.theme">
        <option value="1">Огонь</option>
        <option value="2">Вода</option>
        <option value="3">Земля</option>
        <option value="4">Воздух</option>
      </select>
    </p>
    <p>
      <button class="btn btn-outline-primary" (click)="setParameter()">Принять</button>
    </p>

  </fieldset>
</form>
